wheel==0.34.2
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
plotly==4.6.0
Flask==1.1.2
numpy==1.17.4
pandas==1.0.3
scipy==1.4.1
dash-katex
dash_table==4.7.0
mpmath==1.1.0
gunicorn==20.0.4
